@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

p {
    margin: 0ch
}

a {
    text-decoration: none
}

@import 'blocks/header';
@import 'blocks/sidepanel';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/mainpage';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/book';
@import 'blocks/airdatepicker';
@import 'blocks/special';
@import 'blocks/chef';
@import 'blocks/testimony';
@import 'blocks/video';
@import 'blocks/awards';
@import 'blocks/blogs';
@import 'blocks/gallery';
@import 'blocks/subscribe';
@import 'blocks/pageup';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/policy';
@import 'blocks/bar/bar-header';
@import 'blocks/bar/bar-book';
@import 'blocks/bar/bar-about';
@import 'blocks/bar/bar-poison';
@import 'blocks/bar/bar-happy';
@import 'blocks/bar/bar-find';

@import 'blocks/our_services/header-menu';
@import 'blocks/our_services/offer';
@import 'blocks/our_services/serving-quolity';

@import 'blocks/about-us/about-us-happy';
@import 'blocks/about-us/our-history';

@import 'blocks/contuct-us/map';


@import 'blocks/modal';
@import 'blocks/media';


