.read-more {
    margin-top: 32px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: $main-color;
    a {
        text-decoration: none;
        color: $main-color;
    }
    a:link {
        color: $main-color;
    }
    
    a:visited {
        color: $main-color;
    }
    
    a:focus {
        color: $main-color;
    }
    
    a:hover {
        transition: all 0.8s;
        font-size: 18px;
    }
    
    a:active {
        color: $main-color;
    }
}

.our_blog {
    min-height: 1388x;
    padding: 152px 0 0 0;
    &__main-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__simplebar {
        width: 900px;
        height: 1750px;
        overflow-x: auto;
    }
    &__wrapper {
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 10px;
        row-gap: 45px;
        column-gap: 12px;
    }
    &__panel-wrapper {
        width: 375px;
        height: 1747px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &__item {
            width: 375px;
            padding: 32px;
            gap: 32px;
            background: #242424;
            
            &.search {
                height: 161px;
            }

            &.categories {
                height: 288px;
                &__wrapper {
                    display: flex;
                    margin-top: 10px;
                    &_item {
                        width: 103px;
                    }

                }
            }
            &.latest {
                height: 798px;
            }
            &.related {
                height: 210px;
            }
            &.share {
                height: 162px;
            }
            &_title {
                font-family: 'Cormorant';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 130%;
                letter-spacing: 0.04em;
                text-transform: capitalize;
                font-feature-settings: 'tnum' on, 'lnum' on;
                color: $main-color;
            }
            &_text {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: 0.04em;
                color: #AAAAAA;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
    }
}

.categories {
    &__wrapper {
        padding-top: 32px;
        display: grid;
        grid-template-columns: 103px 150px 20px;
        grid-template-rows: repeat(28px);
        justify-content: space-between;
        column-gap: 15px;
        row-gap: 32px;
    }
    &__divider {
        height: 2px;
        background-color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        
    }
    &__item {
        width: 100%;
        height: 28px;
    }
}

.latest {
    &__img-description {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_date {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: 0.04em;
            color: #FAFAFA;
        }
        &_name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: 0.04em;
            color: #FAFAFA;
        }
    }
    &__title {
        margin-top: 32px;
    }
    &__text {
        margin-top: 32px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #AAAAAA;
    }

}

.related {
    &__wrapper {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;       
        &_text {
            display: flex;
            flex-wrap: wrap;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: 0.04em;
            color: #AAAAAA;
            &:before {
                content: "";
                display: block;
                width: 16px;
                height: 1px;
                background-color: $main-color;
                margin-right: 8px;
                margin-top: 14px;
                margin-left: 8px;
            }
        }
        .no_divider {
            &:before {
                content: "";
                display: none;
            }
        }
    }
}

.simplebar-track.simplebar-vertical {
	background-color: #d9d9d9;
	width: 5px;
}

.simplebar-content-wrapper {
	padding-right: 15px;
}

.simplebar-scrollbar::before {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background-color: $main-color;
	border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	top: 0;
	bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
	opacity: 1;
}