.btn {
    border: none;
    width: 157px;
    height: 44px;
    background-color: $main-color;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0B08;
    transition: all 0.6s;
    &:hover {
        transform: scale(105%);
        box-shadow: 0px 4px 4px rgba($color: $main-color, $alpha: 0.5);
        background-color: #f1d675;;
    }
}