@media (max-width: 1500px) {
	.sidepanel {
		display: none;
	}
	.header {
		padding-bottom: 0;
		min-height: 950px;
		&__wrapper {
			width: 100%;
			padding: 0 10px;
		}
		&__scroll {
			display: none;
		}
	}
	.container {
		width: 100%;
	}
	.swiper {
		padding: 0 10px;
		margin-top: 0;
	}
	.about {
		padding-top: 0;
		height: 750px;
		&__wrapper {
			height: 723px;
		}
		&__item {
			margin-top: 200px;
		}
		&__knife {
			margin-top: 10px;
		}
	}
	.special {
		min-height: 1040px;
		padding: 30px 20px;
		&__wrapper {
			justify-content: space-around;
		}
		&__item-img {
			display: none;
		}
		&__btn {
			margin-top: 0;
		}
	}
	.pageup {
		bottom: 25px;
		right: -25px;
		img {
			width: 40%;
		}
	}
	.testimony {
		padding: 30px 20px;
	}
	.blogs {
		padding: 30px 0;
		&__wrapper {
			justify-content: space-around;
			row-gap: 15px;
		}

	}
	.footer {
		&__wrapper {
			padding: 0 10px;
		}
	}
}

@media (max-width: 1350px) {
	.book {
		&__wrapper {
			width: 100%;
			padding: 20px;
		}
	}
	.chef {
		min-height: 850px;
		&__wrapper {
			padding: 30px 0;
		}
		&__block1 {
			width: 50%;
			padding: 0 10px;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
			&_wrapper {
				width: 100%;
				height: 100%;
			}
			&_img {
				width: 100%;
				height: 100%;				
				object-fit: cover;
			}
		}
		&__block2 {
			width: 50%;
			padding: 0 10px;
			
		}
	}
	.testimony {
		&__wrapper2 {
			margin-top: 30px;
			justify-content: space-around;
			row-gap: 20px;
		}
	}

}
@media (max-width: 1220px) {
	.awards {
		min-height: 730px;
		padding-top: 0;
		&__laurels {
			padding-top: 30px;
			text-align: center;
		}
		&__item-img {
			display: none;
		}
		&__wrapper {
			justify-content: space-around;
		}
	}
}

@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
	.swiper {
		padding: 0 0;
		&-slide {
			flex-direction: column-reverse;
			flex-wrap: wrap;		
		}
	}
	.slide {
		&__block1 {
			padding-top: 20px;
			width: 100%;
			height: 236px;
			text-align: center;
		}
		&__block2 {
			height: 400px;
			width: 100%;
		}

		&__square1 {
			display: none;
		}
		&__square2 {
			display: none;
		}
		&__img {
			margin-top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.about {
		&__wrapper {
			justify-content: center;
			column-gap: 50px;
		}
		&__item.item1 {
			display: none;
		}
	}
	.menu {
		&__title {
			font-size: 55px;
		}
	}
	.gallery {
		padding: 30px 0;
		&__wrapper {
			flex-direction: column;
		}	
		&__inst {
			width: 100%;
			text-align: center;
		}
	}
	.subscribe {
		padding-top: 30px;
	}
	.footer {
		padding-top: 30px;
		&__wrapper {
			justify-content: space-around;

		}
	}
}

@media (max-width: 992px) {
	.subtitle {
		font-size: 50px;
	}
	.book {
		&__wrapper {
			height: 100%;
		}

	}
	.form-book {
		&__lines {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(3);
			gap: 32px;
		}
	}
	.special {
		min-height: 1040px;
		padding: 30px 20px;
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__item-img {
			display: none;
		}
	}
	.chef {
		&__chef {
			margin-top: 20px;
		}
		&__chef_signature {
			margin-top: 10px;
		}
	}
	.awards {
		min-height: 500px;
	}
	.swiper1 {
		padding: 20px 20px;
		width: 400px;
	}
	.subscribe {

	}
	.form {
		width: 100%;
		margin-top: 10px;
		padding: 0 10px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 50px);
		&__policy{
			width: 178px;
			display: block;
			margin: 0 auto;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		&__btn {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
	}
}

@media (max-width: 768px) {
	.slide {
		&__block1 {
			height: 520px;
		}
	}
	.testimony {
		&__item {
			width: 100%;
			&_img-block {
				margin-right: 25px;
			}
			&_text {
				margin-top: 0px;
			}
		}

	}
	.awards {
		min-height: 800px;
		&__wrapper2 {
			justify-content: space-around;
		}
	}
	.blogs {
		&__bite {
			display: none;
		}
	}
	.form {
		width: 100%;
		margin-top: 10px;
		padding: 0 10px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 50px);
		&__policy{
			width: 178px;
			display: block;
			margin: 0 auto;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		&__btn {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
	}	
	.subscribe {
		min-height: 530px;
		&__wrapper {
			height: 490px;
		}
	}

}

@media (max-width: 576px) {

	.slide {
		&__block1 {
			height: 550px;
		}
	}
	.about {
		&__item {
			margin-top: 50px;
		}
		&__wrapper {
			column-gap: 10px;
		}
		&::after {
			display: none;
		}
		&__text {
			margin-top: 60px;
		}
		&__btn {
			margin-top: 60px;
		}
	}
	.menu {
		&__title {
			font-size: 45px;
		}
	}
	.chef {
		&__wrapper {
			flex-direction: column;
		}
		&__block1 {
			width: 100%;
		}
		&__block2 {
			width: 100%;
		}
		&__chef {
			margin-top: 40px;
		}
		&__chef_signature {
			margin-top: 50px;
		}
	}
	.testimony {
		padding: 30px 10px;
		&__item {
			
			&_img-block {
				margin-right: 10px;
				width: 35%;
				&:before {
					display: none;
				}
			}
			&_img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			&_text {
				font-size: 13px;
			}
			&_name {
				font-size: 20px;
			}
			&_subtitle {
				font-size: 13px;
			}
			&_block {
				width: 65%;
			}
		}

	}
	.awards {
		min-height: 800px;
	}
	.blogs {
		&__item {
			&_img {
				width: 100%;
				object-fit: cover;
			}
			&_text {
				margin: 10px 0px;
			}
		}
	}
	.gallery {
		&__inst {
			height: 370px;
		}
		&__item {
			&_img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.swiper1 {
		padding: 0px 0px;
		width: 250px;
	}
}

@media (max-width: 416px) {
	.special {
		&__item {
			width: 100%;
			height: 520px;
		}
		&__wrapper2 {
			row-gap: 20px;
			&_header {
				
			}
			&_item {
				width: 100%;
				height: 100%;
				grid-template-columns: 182px 30px 37px;
				row-gap: 8px;
				column-gap: 20px;
				&__title {
					font-size: 20px;
				}
				&__divider {
					width: 30px;
				}
				&__price {
					font-size: 20px;
				}
				&__subtitle {
					font-size: 12px;
				}
			}
		}
		&__btn {
			margin-top: 10px;
		}
	}
}