.menu {
    height: 900px;
    width: 100%;
    background: #0C0C0C url("../../img/menu/dessert.png") 100% no-repeat;
    &__title {
        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #FFFFFF;
        padding-left: 26px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__bite {
        padding-left: 26px;
        height: 146px;
        width: 146px;
    }
}

.menu__title.bar {
    margin-top: 147px;
}

.menu__title.food {
    margin-top: 64px;
}

.menu__title.desserts {
    margin-top: 64px;
}

.menu.food {
    background: #0C0C0C url("../../img/menu/food.png") 100% no-repeat;
}

.menu.bar {
    background: #0C0C0C url("../../img/menu/bar.png") 100% no-repeat;
}

.menu.desserts {
    background: #0C0C0C url("../../img/menu/dessert.png") 100% no-repeat;
}
    


